h1 {
    color: var(--text-gray);
    text-align: center;
    margin: 1em 0;
}

.faq-list {
    display: flex;
    flex-direction: column;
    counter-reset: faq-number;
}

.faq {
    counter-increment: faq-number;
    display: flex;
    gap: 1em;
    width: 80%;
    margin: auto;
}

.faq > details {
    width: 60%;
    background-color: var(--dark-gray);
    padding: 1em;
    color: var(--text-gray);
}

.faq:not(:last-of-type) > details {
    border-bottom: 1px solid var(--text-gray);
}

.faq > details i {
    transition: transform .5s linear;
}

.faq > details[open] i {
    transform: rotate(90deg);
}

.faq summary {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.faq summary > span::before {
    content: counter(faq-number, decimal-leading-zero);
    margin-right: 1em;
}

.faq p {
    margin-top: 2em;
    margin-left: 3em;
    line-height: 1.5;
}

.faq button {
    height: min-content;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    color: var(--text-gray);
}

.delete-button {
    background-color: var(--dark-red);
}

.update-button {
    background-color: var(--dark-blue);
}

.faq-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: max-content;
    margin: 2em auto;
    background-color: var(--dark-gray);
    padding: 2em 4em;
    border-radius: 8px;
    color: var(--text-gray)
}

.faq-form input {
    border: none;
    outline: none;
    background-color: rgb(18, 17, 26);
    padding: 1em;
    color: var(--text-gray);
    border-radius: 4px;
}